<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1">
                    <label for="tarefa-1">completar curso de javaScript</label>
                </div>
                
                <button>
                    <img src="/imagens/X icon.png" alt="imagem X">
                </button>
            </form>
        </div>
    </section>
</main>