<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <input type="radius" id="tarefa-1">
                <label for="tarefa-1">completar curso de javaScript</label>

                <button>
                    <img src="/imagens/X icon.png" alt="imagem X">
                </button>
            </form>
        </div>
    </section>
</main>